
.timeline-1 {
    border-left: 3px solid #b565a7;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(177, 99, 163, 0.09);
    margin: 0 auto;
    position: relative;
    padding: 15px;
    list-style: none;
    text-align: left;
    max-width: 40%;
    border-radius: 15px;
  }

  @media (max-width: 767px) {
    .timeline-1 {
      max-width: 98%;
      padding: 25px;
    }
  }
  
  .timeline-1 .event {
    border-bottom: 1px dashed #000;
    padding-bottom: 15px;
    margin-bottom: 15px;
    position: relative;
  }
  
  @media (max-width: 767px) {
    .timeline-1 .event {
      padding-top: 30px;
    }
  }
  
  .timeline-1 .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  
  .timeline-1 .event:before,
  .timeline-1 .event:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline-1 .event:before {
    left: -160px;
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
  }
  
  @media (max-width: 767px) {
    .timeline-1 .event:before {
      left: 0px;
      text-align: left;
    }
  }
  
  .timeline-1 .event:after {
    -webkit-box-shadow: 0 0 0 3px #b565a7;
    box-shadow: 0 0 0 3px #b565a7;
    left: -28px;
    background: #fff;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    content: "";
    top: 5px;
  }
  
  @media (max-width: 767px) {
    .timeline-1 .event:after {
      left: -31.8px;
    }
  }

  #content2 {
    padding: 1em;
    max-height: 30em;
    overflow-y: auto;
    position: relative;
  }

  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }

  .card{
    border-radius: 5px;
    width: auto;
  }

  .to{
    color:grey;
  }

  .form-control{
    background-color: transparent;
  }
  #content3 {
    position: relative;
    display: inline-block;
    height: 30em;
    width: auto;
    max-height: 40em;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #leaderboard{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    position: relative;
  }
  #leaderboard #users{
    width: 2em;
    height: 2em;
    top: -8%;
    left: 25%;
    position: relative;
    flex-wrap: wrap;
  }
  .user {
    position: absolute;
    display: block;
    width: 50%;
    -moz-transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -ms-transition-duration: 1s;
  }
.rank{
    width: 2%;
}
.name{
    width: 60%;
}
.value{
  width: 38%;
}
#leaderboard {
  border-collapse: inherit;
  border-color: black;
}
#leaderboard tr {
  border-collapse: inherit;
  border-spacing: 0px;
}
#leaderboard td {
  background-color: #e5e5e5;
}
#leaderboard td:first-child {
  border-radius: 8px 0 0 8px;
  
}
#leaderboard td:last-child {
  border-radius: 0 5px 5px 0;
}

#content4 {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

